<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Available currencies</h1>
</div>

<div>
  <div class="d-flex flex-row currency-list justify-content-center">
    <currency id="USD" type="national" symbol="$"></currency>
    <currency id="EUR" type="national" symbol="€"></currency>
  </div>
  <div class="d-flex flex-row currency-list justify-content-center">
    <currency id="JPY" type="national" symbol="￥"></currency>
    <currency id="CHF" type="national" symbol="CHF"></currency>
  </div>
</div>

<router-outlet></router-outlet>
