<h1>{{currencyDatas.id}}</h1>

<ul>
  <li>Code: {{currencyDatas.attributes.code}} </li>
  <li>Name: {{currencyDatas.attributes.name}} </li>
  <li>Currency_type: {{currencyDatas.attributes.currency_type}} </li>
  <li>Code_iso_numeric3: {{currencyDatas.attributes.code_iso_numeric3}} </li>
  <li>Code_iso_alpha3: {{currencyDatas.attributes.code_iso_alpha3}} </li>
  <li>Symbol: {{currencyDatas.attributes.symbol}} </li>
  <li>Native_symbol: {{currencyDatas.attributes.native_symbol}} </li>
  <li>Category: {{currencyDatas.attributes.category}} </li>
</ul>
